<div class="sectionContainer">
  <div class="section">
    <div class="buttons">
      <a class="button back">&laquo; BACK</a>
      <a class="button togglePreview">PREVIEW</a>
      <% if public %>
        <a class="button green togglePublic"><img src="/icons/check.png" /> <span>PUBLIC</span></a>
      <% else %>
        <a class="button red togglePublic"><img src="/icons/pencil.png" /> <span>DRAFT</span></a>
      <% end %>
      <a class="button right delete">DELETE</a>
      <a class="button right save">SAVE</a>
      <div class="clear"></div>
    </div>
  </div>
</div>