<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="/js/common.js"></script>
  </head>
  <body>
    <header>Locks of Love at Washington University</header>
    <nav>
      <a class="b" href="/">HOME</a>
      <a class="b" href="/events">EVENTS</a>
      <a class="b" href="/photos">PHOTOS</a>
    </nav>
    <div id="content">
      <div id="articles">
        <% @articles.each do |article| %>
          <%= erb :partial => "article" %>
        <% end %>
      </div>
      <div id="sidebar">
        <a class="b" href="http://www.facebook.com/pages/Washington-University-Locks-of-Love/48766241305"><img src="/icons/facebook.png" />Find us on Facebook</a>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>