<div id="articles">
  <div class="article">
    <div class="articleInfo">
      <div class="articleCdate">APR 20 2012</div>
      <div class="articleType"><a class="b" href="">EVENT</a></div>
    </div>
    <div class="articleContentContainer">
      <div class="articleContent">
        <div class="articleTitle"><a class="b" href="">Locks of Love Fall 2012</a></div>
        <div class="articleAuthor"><span class="lightWeight">by</span> <a class="b" href="">wulol</a> <span class="lightWeight">(20 minutes ago)</span></div>
        <div class="content">
          <div class="eventInfo">
            <div class="eventData"><img src="/icons/calendar.png" />Wednesday, September 20th, 2012 <span class="lightWeight">until</span> Wednesday, September 27th, 2012</div>
            <div class="eventData time"><img src="/icons/time.png" />10:00 AM <span class="lightWeight">until</span> 6:00 PM</div>
            <div class="eventDataDivider"></div>
            <div class="eventData"><img src="/icons/map-marker.png" />DUC Funroom</div>
          </div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="links">
          <a class="button" href="">SIGN UP FOR THIS EVENT</a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="article">
    <div class="articleInfo">
      <div class="articleCdate">JAN 31 2012</div>
      <div class="articleType"><a class="b" href="">ALBUM</a></div>
    </div>
    <div class="articleContentContainer">
      <div class="articleContent">
        <div class="articleTitle"><a class="b" href="">New Photos Added</a></div>
        <div class="content">
          3 photos were added to <a href="">Spring 2012</a>
          <div class="newPhotosPreview">
            <div class="imgBorder thumbnail">
              <div class="img"><img src="/galleries/spring-2012/test-image-1.jpg" /></div>
            </div><div class="imgBorder thumbnail">
              <div class="img"><img src="/galleries/spring-2012/test-image-2.jpg" /></div>
            </div><div class="imgBorder thumbnail">
              <div class="img"><img src="/galleries/spring-2012/test-image-3.jpg" /></div>
            </div>
            <div class="clear"></div>
          </div>
          21 photos were added to <a href="">Locks of Love Fall 2012</a>
          <div class="newPhotosPreview">
            <div class="imgBorder thumbnail">
              <div class="img"><img src="/galleries/spring-2012/test-image-2.jpg" /></div>
            </div><div class="imgBorder thumbnail">
              <div class="img"><img src="/galleries/spring-2012/test-image-1.jpg" /></div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="article">
    <div class="articleInfo">
      <div class="articleCdate">MAR 1 2012</div>
      <div class="articleType"><a class="b" href="">BLOG</a></div>
    </div>
    <div class="articleContentContainer">
      <div class="articleContent">
        <div class="articleTitle"><a class="b" href="">Locks of Love Fall 2012</a></div>
        <div class="articleAuthor"><span class="lightWeight">by</span> <a class="b" href="">wulol</a> <span class="lightWeight">(20 minutes ago)</span></div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="article">
    <div class="articleInfo">
      <div class="articleCdate">APR 20 2012</div>
      <div class="articleType"><a class="b" href="">EVENT</a></div>
    </div>
    <div class="articleContentContainer">
      <div class="articleContent">
        <div class="articleTitle"><a class="b" href="">Locks of Love Fall 2012</a></div>
        <div class="articleAuthor"><span class="lightWeight">by</span> <a class="b" href="">wulol</a> <span class="lightWeight">(20 minutes ago)</span></div>
        <div class="content">
          <div class="eventInfo">
            <div class="eventData"><img src="/icons/calendar.png" />Wednesday, September 20th, 2012</div>
            <div class="eventData time"><img src="/icons/time.png" />10:00 AM <span class="lightWeight">until</span> 6:00 PM</div>
            <div class="eventDataDivider"></div>
            <div class="eventData"><img src="/icons/map-marker.png" />DUC Funroom</div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>